<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Version</key>
    <integer>1</integer>
    <key>Extension Name</key>
    <string>Exchange</string>
    <key>Extension Identifier</key>
    <string>info.gucchi.popclip.extension.exchange</string>
    <key>Extension Description</key>
    <string>Convert currency</string>
    <key>Actions</key>
    <array>
      <dict>
	<key>Regular Expression</key>
	<string>^([$¥￥€R£]|USD|(AU|CDN|NZ|CA|[AC])\$|(AU|CA|NZ)D|Fr)*\s*\d[\d,.]*\s*(ドル|USD|円|YEN|yen|ユーロ|EUR|ポンド|GBP)?\s*$</string>
	<key>Title</key>
	<string>💰</string>
	<key>Image File</key>
	<string>money-bag.png</string>
	<key>After</key>
	<string>preview-result</string>
	<key>Script Interpreter</key>
	<string>/usr/bin/php</string>
	<key>Shell Script File</key>
	<string>convert.php</string>
      </dict>
    </array>
    <key>Options</key>
    <array>
      <dict>
	<key>Option Identifier</key>
	<string>currency</string>
	<key>Option Label</key>
	<string>Currency</string>
	<key>Option Type</key>
	<string>multiple</string>
	<key>Option Values</key>
	<array>
	  <string>JPY</string>
	  <string>USD</string>
	  <string>EUR</string>
	  <string>GBP</string>
	  <string>AUD</string>
	  <string>CAD</string>
	  <string>NZD</string>
	  <string>CHF</string>
	  <string>ZAR</string>
	</array>
      </dict>
    </array>
  </dict>
</plist>
